<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="product_page.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="class1">
        <!-- Box 1 (Image Container) -->
        <div class="box1">
            <img src="kids Checkers Green Coats.jpeg" alt="Box 1 Image">
        </div>

        <!-- Box 2 (Content Container with 6 Rows) -->
        <div class="box2">
            <!-- Row 1 -->
            <div class="box2-row" id="box2-row1" >
                <p><a class="gender" href="test.html">Gender</a>  >  <a class="category" href="test.html">Category</a></p>
            </div>

            <!-- Row 2 -->
            <div class="box2-row" id="box2-row2">
                <p>Men's Checkers Yellow Coats</p>
            </div>

            <!-- Row 3 -->
            <div class="box2-row" id="box2-row3">
                <p>SGD10.00</p>
            </div>

            <!-- Row 4 -->
            <div class="box2-row" id="box2-row4">
                <form action="test.html">
                    <label for="size">Size:</label>
                    <select id="size" name="size">
                        <option value="S">S</option>
                        <option value="M">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                    </select><br>
                    <button>Add To Cart</button>
                </form>
            </div>

            <!-- Row 5 -->
            <div class="box2-row" id="box2-row5">
                <span class="desc_title">Short Description</span> <br>
                <span class="desc">ttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt</span>
            </div>
        </div>
    </div>

</body>
</html>
