body {
    font-family: "Lato", sans-serif;
    background-color: #fffefe;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #8d7966;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e2ddd9;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #fffefe;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #searchbar{
	margin-left: 13%;
  border-width: 0px;
	padding:15px;
	border-radius: 10px;
  font-size:20px;
  width:56%;
  background-color:#e2ddd9;
  color:#8d7966;
}

button{
  background-color:#e2ddd9;
  color:#8d7966;
}

button:hover{
  background-color: #d8c8b8;
  transition:0.1s;
}

button:active{
  background-color: #8d7966;

}
