{% extends 'admin-skeleton.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="bottom-container-right">
        <!-- Top Container -->
        <div class="top-container">
            <p>Account Creation Date: {{ account_date }}</p>
            <a href="/admin/userdata"><i class="fa fa-angle-double-left" style="font-size:32px"></i></a>
            <h1>Edit Account</h1>
        </div>
        <div class="bottom-container-2">
            <form method="post">
                <label for="Username">Username: {{ username }}</label><br>
                <input type="text" name="username"></input><br>     
                <label for="Email">Email: {{ email }}</label><br>
                <input type="email" name="email"></input><br>
                <label for="Password">Password: {{ password }}</label><br>
                <input type="password" name="password" minlength="8" oninvalid="this.setCustomValidity('Weak Password : 8 letters required')" oninput="this.setCustomValidity('')"></input><br> #admin must sure put correctly 

                <input type="submit" id="Submit" name="submit" value="save">Save</input>
            </form>

        </div> 
    </div>

<style>
.bottom-container-right {
    max-width: 70%;
    margin: auto;
    background-color: gray;
    padding-top:5%;
    padding-bottom:5%;
}

.top-container {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: left;
    width:80%;
    margin:auto;
}

.top-container h1 {
    margin-bottom: 5px;
}

.top-container > p {
    float:right;
}

.bottom-container-2 {
    width:80%;
    margin:auto;
    background-color:#f0f0f0;
    padding:10px;
}

input {
    width:90%;
    padding:0.3%;
    border:1px solid black;
}

#save {
    margin-top:8%;
}
#delete {
    float:right;
    margin-top:8%
}
a {
    text-decoration: none;
    color:black;
}

</style>

{% endblock %}
