{% extends 'index.html' %}
{% block content %}
    <div class="error-main-container">
        <div class="error-container">
            <div class="circle-with-tick">
                X
            </div>
            <div class="error-text">
                <p class="error-p">PLEASE LOGIN TO VIEW THIS PAGE</p>
            </div>
            <div class="login-link">
                <p class="error-p"><a href="/login" class="error-a">Return</a></p>
            </div>
        </div>
    </div>

<style>
    .error-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url(/static/Assets/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.error-container {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:300px;
    padding: 20px;
    background-color: rgb(240, 216, 152);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.circle-with-tick {
    background-color: red;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

.error-text {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.login-link {
    color: #3498db;
    cursor: pointer;
}

.login-link > .error-p > .error-a {
    text-decoration: none;
    color:red;
}
</style>
{% endblock %}
