{% extends 'settings-skeleton.html' %}
{% block content %}
    <div class="settings-edit-main-container">
            <div class="settings-edit-bottom-container-right">
                <h1 id="settings-edit-h1">Account Details</h1>
                <h5 id="settings-edit-h5">Personal Information</h5>
                <hr id="settings-edit-hr">
                <form method="post">
                    <div class="settings-edit-account-details">
                            <label for="Username" class="settings-edit-label">Username</label><br>
                            <input placeholder="{{ username }}"  type="text" id="username" class="settings-edit-input" name="username"></input><br>
                            <label for="Email Address" class="settings-edit-label" type="email">Email Address</label><br>
                            <input placeholder="{{ email }}"  type="text" class="settings-edit-input" id="email" name="email"></input><br>
                            <label for="Password" class="settings-edit-label" required>Password</label><br>
                            <input placeholder="{{ password }}"  type="text" class="settings-edit-input" id="password" name="username" min-length="8"></input><br>
                            <!-- <input type="file" id="image" name="image"><br> -->
                    </div>
                <div class="settings-edit-buttons">
                    <p id="cancel"><a href="/paynow/{{ username }}">Cancel</a></p>
                    <button type="submit" id="save">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>

<style>
    
#settings-edit-account-details {
    background-color: lightgray;
}

.settings-edit-bottom-container-right{
    display:inline-block;
    width:100%;
    margin-left:5%;
    background-color: gray;
    padding-left:3%;
    padding-right:3%;
    padding-bottom:3%;
}

#settings-edit-hr {
    width:100%;
    margin-bottom:2%;
}

a {
    color:black;
    text-decoration: none;
}

.settings-edit-input {
    width:98%;
    margin-top:1%;
    margin-bottom:1%;
    padding:1%;
}

.settings-edit-buttons   {
    width:8%;
    text-align: center;
    float:right;
}

#cancel {
    display:inline-block;
    background-color: white;
    padding: 7%;
}


#save {
    display:inline-block;
    background-color: white;
    border:none;
    padding:10%;
    padding-left: 10%;
}

</style>
{% endblock %}