body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: -webkit-optimize-contrast;
}

.login-container {
    width: 400px;
    padding: 20px;
    background-color: rgb(240, 216, 152);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

h2, hr {
    margin-bottom: 20px;
}

hr {
    border: 0;
    height: 1px;
    background: black;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border:none;
    border-radius: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color:  rgb(196, 219, 162);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
}

.signup-link > p > a {
    text-decoration: none;
    color:red;
}