

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');

.wrapper{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-form{
    position: relative;
  display:flex;
  flex-direction:column;
    width: 300px;
    height: 500px;
    background: inherit;
    border-radius: 30px;
    overflow: hidden;
    z-index: 10;
    color: black;
  padding:1rem;
    }
.main-form::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-form::after{
    content: '';
    width: 200%;
    height: 200%;
    left: -20px;
    top: -20px;
    background: inherit; 
    position: absolute;
    box-shadow: inset 5em 5em 5em 200px rgba(0, 0, 0, 0.25);
    filter: blur(30px);
}

h1{
    margin: 0 auto;
    z-index: 11;
    font-size: 4rem;
}
.input-box{
    z-index: 11;
    line-height: 44px;
    font-size: 1.5rem;
    

}

input{
    height: 40px;
    width:100%;
    border-radius: 20px;
    border: none;
    text-align: center;
    padding: 10px;
    background: #96AED0;
    color:black;

}
button, form button{
    margin:0 auto;
    margin-top: 2rem;
    z-index: 11;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    padding: 2px;
    background: #96AED0;
    color: black;
    cursor: pointer;
    overflow: visible;
}

button:hover{
    background-color:black;
    transform: scale(1.1);
}  
button:active{
    background-color:#E2DFD2 ;
    color: black;
}