{% extend 'admin-skeleton.html' %}
{% block title %} AdminRewards_Create {% endblock %}
{% block content%}
<style>
    .AdminProducts_Content {
        background-color: #D9D9D9;
        padding: 20px;
        width: 350px;
        margin: 0 auto;
    }

    .AdminProducts_Create_Content {
        background-color: #FFFFFF;
        padding: 20px;  
        width: 350px;
        margin: 0 auto;
    }

    .AdminProducts_Create_Content input[type="text"],
    .AdminProducts_Create_Content textarea,
    .AdminProducts_Create_Content select {
        width: 200%;
        padding: 5px;
        margin-bottom: 20px;
        color: gray;
    }

    .AdminProducts_Create_Content button {
        padding: 5px 10px;
        margin-right: 10px;
    }
</style>
</head>

<body>
    <div class="AdminProducts_Create_Content">
        <h2>Create Product</h2>
        <a href="#" style="position: absolute; top: 10px; left: 10px;">< Back</a>
        <label for="product-name">Product Name:</label>
        <input type="text" id="product-name" placeholder="Enter product name">

        <label for="input-gender">Gender</label>
        <select id="gender">
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="kid">Kid</option>
        </select>

        <label for="input-category">Category</label>
        <select id="category">
            <option value="shirt">Shirt</option>
            <option value="T-shirt">T-shirt</option>
            <option value="tops">Tops</option>
            <option value="dress">Dress</option>
            <option value="jeans & trousers">Jeans & Trousers</option>
            <option value="skirts & shorts">Skirts & Shorts</option>
            <option value="jackets & coats">Jackets & Coats</option>
            <option value="accessories">Accessories</option>
        </select>

        <label for="color">Color:</label>
        <input type="text" id="product-color-create" placeholder="Enter Product color">

        <label for="s Quantity">S Quantity:</label>
        <input type="text" id="product-S-create" placeholder="Enter S Number">

        <label for="m Quantity">M Quantity:</label>
        <input type="text" id="product-M-create" placeholder="Enter M Number">

        <label for="l Quantity">L Quantity:</label>
        <input type="text" id="product-L-create" placeholder="Enter L Number">

        <label for="xl Quantity">XL Quantity:</label>
        <input type="text" id="product-XL-create" placeholder="Enter XL Number">
        
        <label for="xxl Quantity">XXL Quantity:</label>
        <input type="text" id="product-XXL-create" placeholder="Enter XXL Number">

        <label for="total Quantity">Total Quantity:</label>
        <input type="text" id="product-total-create" placeholder="Enter Total Number">

        <label for="retail price">Retail Price:</label>
        <input type="text" id="retail-price-create" placeholder="Enter Retail Price">

        <label for="list price">List Price:</label>
        <input type="text" id="list-price-create" placeholder="Enter List Price">

        <label for="image">Image:</label>
        <input type="file" id="image">

        <button type="button">Submit</button>
        <button type="reset">Reset</button>
    </div>
</body>

{% endblock %}