{% extends 'index.html' %}
{% block content %}
    <div class="confirmation-main-container">
        <div class="confirmation-container">
            <div class="circle-with-tick">
                ✓
            </div>
            <div class="confirmation-text">
                <p>Thank You For Registering An Account!</p>
                <p>A confirmation has been sent to your email.</p>
            </div>
            <div class="login-link">
                <p><a href="/login">Click to Login</a></p>
            </div>
        </div>
    </div>
<style>
    .confirmation-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
    background-image: url(/static/Assets/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.confirmation-container {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    height:300px;
    padding: 20px;
    background-color: rgb(240, 216, 152);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.circle-with-tick {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 20px;
}

.confirmation-text {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.login-link {
    color: #3498db;
    cursor: pointer;
}

.login-link > p > a {
    text-decoration: none;
    color:red;
}
</style>
{% endblock %}
