{% extends 'index.html' %}
{% block title %}UserRedeemPage{% endblock %}
{% block content%}
    <style>
        .gray-box2 {
            width: 700px;
            background-color: #D9D9D9;
            margin: 0 auto;
            margin-top: -10vh;
            padding: 20px;
            min-height: 100vh;
            text-align: center;
            overflow-y: scroll; /* Added overflow-y to enable vertical scrolling */
            max-height: 300px; /* Added max-height to limit the height of the gray box */
        }
        
        /* Added CSS for rewards */
        .rewards {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start; /* Changed justify-content to flex-start to align rewards to the left */
        }
        
        .reward {
            width: 700px;
            margin: 5px;
            padding: 50px;
            text-align: justify;
            background-color: #D9D9D9;
            display: flex;
            align-items: center;
        }
        
        .reward img {
            max-width: 200px;
            height: auto;
            margin-right: 50px;
        }
        
        .reward button {
            padding: 5px 10px;
            border: none;
            background-color: #007bff;
            color: #fff;
            cursor: pointer;
        }

    </style>
</head>

    <br>
    <br>    
    <!-- Content -->
    <br>
    <br>
    <div class="gray-box2">
        <div style="float: left;">
            Total Points:
        </div>
        <div style="float: right;">
            <button>Checkout</button>
        </div>
        <br style="clear: both;">
        <hr>
        <div class="rewards">
            {{ data | safe }}
            
            <!-- Add more rewards here -->
        </div>
    </div>

{% endblock %}