.class1 {
  display: flex;
  width:50%;
  margin:auto; 
  height:400px;
  row-gap: 2;
}

/* Style for the image container (box1) */
.box1 {
  flex:1; /* Take up all available horizontal space */
  height: 400px;
}

img {
  height: 400px;
}

/* Style for the content container (box2) */
.box2 {
  flex: 2; /* Take up all available horizontal space */
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

#box2-row1 > p > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size:1.1em;
}

#box2-row2 > p {
  font-weight: bold;
  font-size: 1.9em;
  margin-top: -1%;
}

#box2-row3 {
  font-weight: bold;
  margin-top:-5%;
}

#box2-row4 {
  margin-bottom:3%;
  font-weight: bold;
}

#size {
  background-color: lightgray;
  padding-top:1%;
  padding-bottom:1%;
  text-align: center;
  border-radius: 10px;
}


button {
  width:100%;
  margin-top: 3%;
  padding-top:2%;
  padding-bottom: 2%;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: white;
}


#box2-row5 {
  height:100%;
  background-color: lightgray;
  border-radius: 20px;
}

span.desc_title {
  padding-left:4%;
  font-weight: bold;
  font-size:1.5em;
}

span.desc {
  padding-left:4%;
  text-align: left;
}